In [1]:
import pandas as pd

## pandas 까먹은 메소드들

### 정렬 관련

In [3]:
udf=pd.DataFrame([[11,21],[14,24],[12,22],[13,23],[10,20],[15,25]], 
                         index=[1,4,2,6,3,0], columns=['N2','N1'])
udf

   N2  N1
1  11  21
4  14  24
2  12  22
6  13  23
3  10  20
0  15  25

### sort_index

#### 기본 index 순서를 기준으로 정렬

In [5]:
sdf=udf.sort_index()
sdf

   N2  N1
0  15  25
1  11  21
2  12  22
3  10  20
4  14  24
6  13  23

#### column 순서 정렬

In [6]:
udf.sort_index(axis=1)

   N1  N2
1  21  11
4  24  14
2  22  12
6  23  13
3  20  10
0  25  15

### sort_values (값 기반 정렬)

In [8]:
udf.sort_values(by=['N2', 'N1'])

   N2  N1
3  10  20
1  11  21
2  12  22
6  13  23
4  14  24
0  15  25

### first()

- groupby 사용 시 그룹을 묶을 때 나머지 값들 어떤 애를 남길지 기준을 설정

### unstack(), stack()

- 데이터프레임 재구조화

### agg, map, apply

### values

- 데이터프레임의 데이터를 array형태로 표현

## merge

- parameters
  - how : 결합방식
  - on : merge할 column
  - left_on, right_on : 어떤 column을 기준으로 merge할 것인지
  - left_index, left_index : index를 기준으로

## concat